joblib==1.2.0
matplotlib==3.7.1
numpy==1.22.4
pandas==1.5.3
plotly==5.15.0
Requests==2.31.0
scikit_learn==1.2.2
scikit_plot==0.3.7
seaborn==0.13.0
shap==0.42.1
streamlit==1.28.1
streamlit_lottie==0.0.5
ipython==8.12.0
openpyxl==3.1.2
typing==3.7.4.3
yellowbrick==1.5
hyperopt==0.2.7
xgbfir==0.3.1
imblearn==0.0
